*{
  box-sizing: border-box;
}

body{
  margin:0;
  background:rgb(242, 205, 255);
  color:rgb(0, 0, 0);
  font-family: 'Patrick Hand', cursive;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:40px 20px;
}

/* Заголовок */
.title{
  font-size:56px;
  margin-bottom:40px;
  text-align:center;
}

/* КАРУСЕЛЬ */
.carousel-wrapper{
  width:100%;
  max-width:900px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-bottom:50px;
}

.carousel{
  display:flex;
  overflow-x:hidden;
  scroll-behavior:smooth;
  width:80%;
  gap:20px;
}

.carousel img{
  width:260px;
  height:340px;
  object-fit:cover;
  border:3px solid white;
  flex-shrink:0;
}

/* КНОПКИ */
.arrow{
  background:rgb(187, 0, 255);
  color:white;
 
  font-size:28px;
  padding:10px 18px;
  cursor:pointer;
}

.arrow:active{
  transform: scale(0.95);
}

/* Главный текст */
.text-block{
  max-width:900px;
 
  padding:30px;
  font-size:34px;
  text-align:center;
}
.single{
  margin:80px 0;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.single img{
  max-width:380px;
  width:90%;
 
  padding:10px;
  background:rgb(191, 122, 255);
}

.photos{
  margin-top:14px;
  font-size:22px;
  opacity:0.85;
  text-align:center;
}